@import 'blocks/fonts.css';
@import 'blocks/normalize.css';
@import 'blocks/global.css';

@import 'blocks/preloader.css';
@import 'blocks/body.css';
@import 'blocks/page-container.css';
@import 'blocks/page-header.css';
@import 'blocks/options-list.css';
@import 'blocks/music-switcher.css';
@import 'blocks/theme-switcher.css';
@import 'blocks/page-main.css';
@import 'blocks/mode-select.css';
@import 'blocks/game.css';
@import 'blocks/tries-counter.css';
@import 'blocks/cards-list.css';
@import 'blocks/card.css';
@import 'blocks/game-result.css';
@import 'blocks/footer.css';
@import 'blocks/info-link.css';
@import 'blocks/info.css';

/* позициониование -> блок -> шрифт -> оформление -> анимации */