.info {
  display: none;
}

.display.info {
  display: flex;
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}

.info__container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 50px;
  border-radius: 15px;

  background-color: #eab7b7;
}

.info__close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;
  border: 0;

  background-color: transparent;
  cursor: pointer;
}

.info__close-button:hover,
.info__close-button:focus {
  transform: scale(1.2);
}

.info__close-button::before, 
.info__close-button::after {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 3px;
  height: 20px;
  border-radius: 2px;
  content: '';

  background-color: #000;
}

.info__close-button::before {
  transform: translate(-50%, -50%)
             rotate(45deg);
}
.info__close-button::after {
  transform: translate(-50%, -50%)
             rotate(-45deg);
}

.info__text,
.info__link {
  font-size: 38px;
}

.info__link-address {
  display: none;
}




@media (min-width: 768px) {
  .info__container {
    gap: 30px;
    border-radius: 20px;
  }
  
  .info__close-button {
    top: 15px;
    right: 15px;
  
    width: 25px;
    height: 25px;
  }
  
  .info__close-button::before, 
  .info__close-button::after {  
    width: 4px;
    height: 25px;
    border-radius: 3px;
  }
  
  .info__text,
  .info__link {
    font-size: 41px;
  }

  .info__link-address {
    display: inline;
  }
  
  .info__link-plug {
    display: none;
  }
}


@media (min-width: 1366px) {
  .info__container {
    position: absolute;
    bottom: 100px;
    right: 50%;
  
    transform: translateX(580px);
  }

  .info__container::after {
    position: absolute;
    right: 20px;
    top: 99%;

    content: '';
    width: 40px;
    height: 40px;
    background-color: #eab7b7;

    clip-path: polygon(75% 0, 0 0, 100% 100%);
  }
}