.page-container {
  /* прижатие футера */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* прижатие футера */

  width: 320px;
  margin: 0 auto;
}



@media (min-width: 768px) {
  .page-container {
    width: 768px;
  }
}

@media (min-width: 1366px) {
  .page-container {
    width: 1366px;
  }
}