.preloader {
  display: none;
}

.preloader.display {
  display: flex;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;

  flex-direction: column;
  align-items: center;  

  transform: translate(-50%, -50%);
}

.preloader__text {
  text-align: center;
}

.preloader::before {
  width: 30px;
  height: 30px;
  content: '';

  background-image: url('../../img/svg/preloader-heart.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.dark-theme .preloader__text {
  color: #eab7b7;
}

.dark-theme .preloader::before {
  background-image: url('../../img/svg/preloader-heart-dark-theme.svg');
}





@media (min-width:768px) {
  .preloader {
    transform: translate(-50%, -50%)
               scale(1.5);
  }
}

@media (min-width:1366px) {
  .preloader {
    transform: translate(-50%, -50%)
               scale(2);
  }
}






.preloader::before {
  animation: heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}