.card {
  position: relative;

  border-radius: 5%;
  display: block;
  
  perspective: 1000px;
}

.cards-6 .card {
  width: 83px;
  height: 117px;
}

.cards-6 .card:nth-child(n+7) {
  display: none;
}

.cards-10 .card {
  width: 63px;
  height: 89px;
}

.cards-10 .card:nth-child(n+11) {
  display: none;
}

.cards-16 .card {
  width: 60px;
  height: 83px;
}

.card__front {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 1px solid black;
  box-sizing: content-box;
  
  backface-visibility: hidden;
  
  transform: rotateY(180deg);
}

.card__back {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  border-radius: inherit;

  background-color: #cb5e63;
  background-image: url('../../img/svg/card-normal.svg');
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-size: 70%;
  cursor: pointer;
}

.card__back:hover,
.card__back:focus {
  background-color: #8d3538;
  background-image: url('../../img/svg/card-hover.svg');
}

.found .card__back:hover,
.found .card__back:focus {
  background-color: #cb5e63;
  background-image: url('../../img/svg/card-normal.svg');
  cursor: auto;
}

.dark-theme .card__back {
  background-image: url('../../img/svg/card-normal-dark-theme.svg');
  background-color: #c77777;
}

.dark-theme .card__front {
  border-color: #eab7b7;
}

.dark-theme .card__back:hover,
.dark-theme .card__back:focus {
  background-image: url('../../img/svg/card-hover-dark-theme.svg');
  background-color: #963b3b;
}

.dark-theme .found .card__back:hover,
.dark-theme .found .card__back:focus {
  background-color: #c77777;
  background-image: url('../../img/svg/card-normal-dark-theme.svg ');
  cursor: auto;
}

 





@media (min-width:768px) {
  .cards-6 .card {
    width: 148px;
    height: 208px;
  }
  
  .cards-10 .card {
    width: 123px;
    height: 173px;
  }
  
  .cards-16 .card {
    width: 98px;
    height: 142px;
  }

  .card__front {
    border-width: 2px;
  }
}

@media (min-width:1366px) {
  .cards-6 .card {
    width: 190px;
    height: 266px;
  }
  
  .cards-10 .card {
    width: 175px;
    height: 245px;
  }
  
  .cards-16 .card {
    width: 138px;
    height: 194px;
  }

  .card__front {
    border-width: 3px;
  }
}





.flip .card__back {
  animation: 1s ease forwards flip-back;
}

.flip .card__front {
  animation: 1s ease forwards flip-front;
}

.flip-back .card__back {
  animation: 1s ease  flip-back-to-start;
}

.flip-back .card__front {
  animation: 1s ease  flip-front-to-start;
}

@keyframes flip-front {
  0%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

@keyframes flip-back {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(180deg);
  }
}

@keyframes flip-front-to-start {
  0%{
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(180deg);
  }
}

@keyframes flip-back-to-start {
  0%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}