.page-main {
  /* прижатие футера */
  flex-grow: 1;
  /* прижатие футера */

  position: relative;

  width: 100%;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .page-main {
    padding: 0 50px;
  }
}

@media (min-width: 1366px) {
  .page-main {
    padding: 0 80px;
  }
}